h1 {
  font-family: 'Meddon', cursive;
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: 'Meddon', cursive;
  text-align: center;
  font-size: 20px;
  margin-top: -50px;
  padding-bottom: 100px;
}




.nav {
    list-style: none;
    text-align: center;
    font-size: 20px;
    padding-left: 0px;

}


.nav li {
    display:inline;
}


li {
  margin-left: 70px;
  margin-right: 70px;
  font-family: 'Slabo 27px', serif;
  color: #202020;
  transition: 0.3s ease-in-out;



}

.nav a {
  font-family: 'Slabo 27px', serif;
  color: #202020;
  transition: 0.3s ease-in-out;
  color: black;
  text-decoration: none;


}

a:hover {
  color: grey;
  cursor: pointer;
}



.header {
  margin-top: 0px;
  }


  .bildbox {
    height: 550px;
    width: 1000px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;

}


#item-1{
  background: url("../images/landscape.jpg") center center;

}

#item-2{
  background: url("../images/mountain.jpg") center center;

}

#item-3{
  background: url("../images/jenny.jpg") center center;

}


.profilbild {
width: 200px;
float: left;
margin-top: 50px;
margin-left: 100px;
margin-right: 0px;
}



.inhalt {
  font-family: 'Slabo 27px', serif;
  float: right;
  width: 600px;
  margin-top: 50px;
  text-align:center;
  margin-right: 70px;

}

.inhalt h2{
  font-family: 'Meddon', cursive;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.wrapper{
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}




.content h2 {
  color: white;
  font-size: 40px;
  font-family: 'Meddon', cursive;
  padding-top: 180px;
  padding-bottom: 0px;
  margin-bottom: 0px;

}

p {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

}

p2 {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  border: 3px double #cccccc;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 450px;
  transition: 0.3s ease;



}

p2:hover {
  color: grey;
  border: 3px double grey;
  cursor: pointer;

}

.portfolio {
  width: 498px;
  display: inline-block;;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  position: relative;

}


.content-box {
  width: 498px;
  display:inline-block;
  margin-top: 40px;

}

.content-img {
  max-width: 498px;
  margin-bottom: -40px;

}

.content-box a {
  display: none;
}


.content-box:hover a {
  display: block;
  position: absolute;
  color: black;
  opacity: 0.5;
  background: rgba(255,255,255,0.85);
  padding-top: 100px;
  width: 498px;
  height: 232px;
  text-align: center;
  text-decoration: none;
  font-family: 'Meddon', cursive;
  font-size: 50px;
  }


.gallery{
  width: 498px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: -40px;
}
