/*Header*/

h1 {
  font-family: 'Meddon', cursive;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: 'Meddon', cursive;
  font-size: 20px;
  text-align: center;
  margin-top: -50px;
  padding-bottom: 100px;
}


/*Navigation*/

.nav {
  font-size: 20px;
  list-style: none;
  text-align: center;
  padding-left: 0px;
}

.nav li {
  font-family: 'Lato', sans-serif;
  color: #202020;
  display:inline;
  margin-left: 70px;
  margin-right: 70px;
  transition: 0.3s ease-in-out;
}

.nav a {
  font-family: 'Lato', sans-serif;
  color: #202020;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: grey;
  cursor: pointer;
}


/*Aktuell*/

.wrapper{
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.bildbox {
  width: 1000px;
  height: 550px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

#item-1 {
  background: url("../images/mappe2.jpg") center center;
}

#item-2 {
  background: url("../images/beelitz7.jpg") center center;
}

#item-3 {
  background: url("../images/jenny.jpg") center center;
}

.content a {
  text-decoration: none;
}

.content h2 {
  font-family: 'Meddon', cursive;
  font-size: 40px;
  color: white;
  padding-top: 180px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

p2 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  border: 3px double #cccccc;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  margin-left: 450px;
  transition: 0.3s ease;
}

p2:hover {
  color: grey;
  border: 3px double grey;
  cursor: pointer;
}

.clear{
  margin-top: 100px;
}


/*Portfolio*/

.content-box {
  width: 498px;
  margin-top: 40px;
  display: inline-block;
}

.content-box a {
  display: none;
}

.content-box:hover a {
  font-family: 'Meddon', cursive;
  font-size: 50px;
  display: block;
  position: absolute;
  color: white;
  background: rgba(0,0,0,0.5);
  padding-top: 100px;
  width: 498px;
  height: 232px;
  text-align: center;
  text-decoration: none;
}

.content-img {
  max-width: 498px;
  margin-bottom: -40px;
}

.gallery{
  width: 498px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: -40px;
}

.clear-content{
  width: 250px;
  display: inline-block;
}


/*Über Mich*/

.profilbild {
width: 200px;
float: left;
margin-top: 50px;
margin-left: 100px;
margin-right: 0px;
border-radius: 100px;
}

.inhalt h2{
  font-family: 'Lato', sans-serif;
  float:left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.inhalt {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  float: right;
  width: 600px;
  margin-top: 50px;
  margin-right: 70px;
}


/*Kontakt*/

.head{
  width: 1000px;
  margin-top: 40px;
}

.kontaktbox{
  width: 205px;
  height: 154px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -194px;
  background: rgba(0, 0, 0,0.7);
  position:relative;
  z-index: 1
}

.kontaktbox p3{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: white;
}

.mail-contact a{

  color: black;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.mail-contact:hover{
  opacity: 0.5;
}
