* {
  box-sizing: border-box;
}



/*CSS Struktur "in order of appearance" und ganz zum Schluss kommen die @media-Tags  :D
  clip-path funktioniert in diesem Zusammenhang nicht mit Safari*/

.header {
  clip-path: circle(400px at center);
  margin-top: -85px;
  background-image: url("https://nosrc.io/1600x900/stock54");
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.space {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
}


.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  position: relative;
  text-align: center;
  font-family: 'Lobster', cursive;
  transition: all 0.2s;
}


.text:hover {
  transform: scale(1.05);
}


.textbox {
  width: 100%;
  height: 1500px;
  background-color: tomato;
  margin-top: -530px;
  text-align: center;
}


.header-title{
  margin-top: 400px;
  color: white;
  font-size: 40px;
  font-family: 'Donegal One', serif;
}


.article-text{
  color: white;
  font-size: 30px;
  width:500px;
  font-family: 'Donegal One', serif;
  margin-left: auto;
  margin-right: auto;
}


.arbeiten {
  position: absolute;
  background-color: transparent;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Donegal One', serif;
  font-size: 15px;
  color: white;
}


.banner {
  text-align: center;
  min-height: 500px;
  background-image: url("https://nosrc.io/1600x900/stock30");
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }


 .box {
   width: auto;
 }


 .überschrift{
   text-align: center;
   font-family: 'Lobster', cursive;
   font-size: 40px;
   color: tomato;
 }


 .gallerie2 {
   margin-top: 50px;
   margin-bottom: 50px;
   text-align: center;
   min-height: 500px;
   margin-left: auto;
   margin-right: auto;
   position: absolute;
}


 .gallerie3 {
   margin-top: 50px;
   margin-bottom: 50px;
   text-align: center;
   min-height: 500px;
   margin-left: auto;
   margin-right: auto;
   position: absolute;
}


/*Safari scheint etwas überfordert mit der Keyframe Animation zu sein.
  Das bedeutet, sie funktioniert im Grunde. Jedoch stockt sie am Anfang und
  läuft erst flüssig, wenn man den Tab wechselt. Chrome hat damit keine Probleme*/

.img1 {
animation: bild 3s 2s infinite alternate cubic-bezier(0.71,-0.52,0.38,1.44);
}

.img2 {
  animation: bild 3s 0s infinite alternate cubic-bezier(0.71,-0.52,0.38,1.44);
}

.img3 {
animation: bild 3s 4s infinite alternate cubic-bezier(0.71,-0.52,0.38,1.44);
}

.img4 {
  animation: bild 3s .5s infinite alternate cubic-bezier(0.71,-0.52,0.38,1.44);
}

.img5 {
animation: bild 3s 0s infinite alternate cubic-bezier(0.71,-0.52,0.38,1.44);
}

.img6 {
  animation: bild 3s 1.5s infinite alternate cubic-bezier(0.71,-0.52,0.38,1.44);
}

.img7 {
animation: bild 3s 2s infinite alternate cubic-bezier(0.71,-0.52,0.38,1.44);
}

.img8 {
  animation: bild 3s 1s infinite alternate cubic-bezier(0.71,-0.52,0.38,1.44);
}

.img9 {
  animation: bild 3s 1s infinite alternate cubic-bezier(0.71,-0.52,0.38,1.44);
}


@keyframes bild {
  0% {
  opacity: 1;
  }

  100% {
  opacity: 0;
  }
}


.banner2{
  width: 100%;
  height: 700px;
}


 .banner3 {
   text-align: center;
   min-height: 500px;
   background-image: url("https://nosrc.io/1600x900/stock140");
   width: auto;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }


.formular{
  text-align: center;
  height: 1000px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: tomato;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding-top: 1px;
  padding-bottom: 20px;
  margin-top: 200px;
  margin-bottom: 200px;
}




.toggle{
  display: none;
}


.toggle-button{
  display: inline-block;
  background-color: tomato;
  color: white;
  padding: 52px;
  width: 80%;
  font-family: 'lobster', serif;
  font-size: 50px;
}


.toggle-button:hover{
  cursor: pointer;
}


.toggle-content {
  display: none;
}


.toggle:checked ~ .toggle-content {
  display: block;
}


.form{
  width: 100%;
}


.label {
    display: block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 3em 0em 0.2em 0em;
    font-family: 'lobster', serif;
  }


  .text-input {
    font: inherit;
    display: block;
    width: 100%;
    padding: 0.5em;
    border: 5px solid tomato;
    border-radius: 10px;
    text-align: center;
    font-family: 'Donegal One', serif;
    color: darkgray;
    margin-left: auto;
    margin-right: auto;
    width:80%;
  }


  .button{
    background: lightgreen;
    color: white;
    border: inherit;
    margin-top: 1em;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'lobster', serif;
  }


  .button[type="reset"] {
    background: darkred;
    width:50%;
    margin-left: auto;
    margin-right: auto;
  }


  .button:hover{
    cursor: pointer;
  }




@media all and (max-width: 1219px) {
  .banner2{
    height: 1000px;
  }
}


@media all and (max-width: 915px) {
  .banner2{
    height: 1320px;
  }
}


@media all and (max-width: 611px) {
  .banner2{
    height: 2530px;
  }
}


@media all and (max-width: 850px) {
  .header {
    clip-path: circle(200px at center);
    margin-top: -280px;
    margin-bottom: -200px;
  }
  .text {
    font-size: 20px;
  }
  .überschrift{
    font-size: 20px;
  }
  .space{
    height: 420px;
  }
  .article-text{
    font-size: 15px;
    width: 300px;
  }
  .header-title{
    font-size: 20px;
  }
  .textbox{
    height: 700px;
  }
  .header-title{
    margin-top: -100px;
  }
.fototermin{
  font-size: 30px;
  }
}


@media all and (max-width: 515px) {
  .header {
    clip-path: circle(150px at center);
    margin-top: -320px;
  }
  .text {
    font-size: 15px;
  }
  .überschrift{
    font-size: 15px;
  }
  .space{
    height: 430px;
  }

  .article-text{
    font-size: 10px;
    width: 250px;
  }
  .header-title{
    font-size: 15px;
  }
  .textbox{
    height: 500px;
  }
  .header-title{
    margin-top: -170px;
  }
  .formular{
    width: auto;
  }
  .fototermin{
    font-size: 25px;
  }
}


@media all and (min-width: 1219px) {
  .img9, .img10{
    visibility: hidden;
  }
}


@media all and (max-width: 915px) {
  .img9, .img10{
    visibility: hidden;
  }
}





.tile-image{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
